// Note that ViewEncapsulation is set to None

auth-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 20px);
  padding-bottom: 20px;

  .auth-logo {
    margin-right: auto;
    padding: 32px 0 0 32px;

    @media (max-width: 600px) {
      padding: 10px 20px 0;
    }

    .logo {
      max-height: 72px;
      max-width: 100%;
      box-sizing: border-box;
    }
  }
}

.auth-container {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 500px;
  max-width: 100%;
  padding: 31px 58px 42px;

  @media (max-width: 600px) {
    padding: 10px 20px 20px;
  }

  &-title {
    margin: 20px 0 70px;
    color: #f4901a;
  }

  &-content {
    margin-bottom: 36px;
  }

  &-links {
    color: white;
    text-align: end;

    a {
      cursor: pointer;
      color: #f4901a;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  color: white;
  margin-top: auto;
}
