.container {
  color: white;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 1px 4px 16px 2px #444444;
  box-shadow: 1px 4px 16px 2px #444444;

  @media (max-width: 860px) {
    box-shadow: none;
  }
}

.bit-img {
  width: 14px;
}

p {
  font-size: 16px;
}

.progress-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.spinner-container {
  max-width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    color: #f4901a;
    text-align: center;
  }
}
